.container_nav{

    background-color: rgba(255, 255, 255, 0.8); 
    color: rgba(255, 255, 255, 0.5);
    
}

.nav_bar{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 1.1em;
}
