.container_nav{

    background-color: transparent; 
    color: rgba(255, 255, 255, 0.5);
    
}

.nav_bar{
    font-size: 1.1em;
}

.nav_barItem{
    font-weight: 400;
}

.nav_barItem:hover{
    color: tomato !important;
    font-weight: 600;

}
