.container {
  padding: 0 2rem;
}

.title{
  margin-top: 25vh;
  font-size: 10vh;
}

.subtitle1{
  margin-top: 12px;
  color: grey;
  font-size: 5vh;
}

.name{
  font-size: medium;
  color: green;
}

.hero_image{
  margin-top: 12vh;
  width: 90%;
}

.down  {
  position: relative;
  top: 20%;
  left: 50%;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
